.sectionTitle {
  font-size: 1.125rem;
}

.newTransactionContainer {
  flex: 1;
  
  border: 1px solid #979797;
  border-radius: 4px;

  padding: 20px 15px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.transactionForm {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  width: 100%;
}

.transactionForm label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem
}

.transactionForm span {
  font-size: 0.875rem;
  color: #333333;
}

.transactionForm input {
  height: 2rem;
  font-size: 0.875rem;
  text-indent: 12px;

  border: 1px solid #979797;
  border-radius: 4px;
}

.transactionForm select {
  height: 2rem;
  font-size: 0.875rem;
  text-indent: 12px;
  color: #888888;

  border: 1px solid #979797;
  border-radius: 4px;
}

.transactionForm input::placeholder {
  color: #888888;
}

.transactionButton {
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 2rem;
  background-color: #333333;
  border: 0;
  border-radius: 4px;
}
